.item-container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(133, 133, 133, 0.20);
    margin-right: 20px;
    margin-bottom: 20px;
}

.item-wrapper {
    text-align: center;
    height: 90px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(133, 133, 133, 0.20);
}

.item-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    color: #474747;
}

.item-title {
    margin-bottom: 8px;
    font-size: .9rem;
    font-weight: 600;
}

.item-code {
    font-size: .75rem;
}

.item-quantity {
    width: 90px;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.item-number {
    padding: 0 10px;
}

.item-count {
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}

.item-price {
    text-align: center;
    font-size: .925rem;
    padding-top: 10px;
    color: var(--text-roman-silver, #5e5e63);
    width: 40px
}

.item-opticon {
    height: 16px;
}

.item-availability {
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .item-container {
        width: 300px;
    }

    .item-wrapper {
        width: 100%;
        height: 250px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .item-info {
        height: 55px;
    }

    .item-opticon-del {
        position: absolute;
        top: 10px;
        left: calc(100% - 30px);
    }

    .item-availability {
        margin-top: 10px;
    }
}


.discount-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.discount-description {
    width: 150px;
    font-size: .85rem;
    padding-top: 10px;
}

.discount-item-info {
    width: 215px;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

.discount-item-title {
    margin-bottom: 2px;
}

.discount-item-quantity {
    
}

.discount-offer {
    color: red;
}

@media only screen and (max-width: 768px) {
    .discount-container {
        padding: 15px;
        width: 100%;
        height: 200px;
        flex-direction: column;
        align-items: center;
    }
}