.product-card {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(133, 133, 133, 0.20);
    color: #474747;
    margin-right: 50px;
    margin-bottom: 50px;
}

.product-img-container {
    max-width: 160px;
}

.product-title {
    margin-top: 20px;
    height: 20px;
    font-size: .9rem;
}

.product-description {
    height: 45px;
    margin-top: 15px;
    font-size: .82rem;
}

.product-quantity {
    margin-left: 5px;
    margin-top: 30px;
    font-size: .82rem;
}


.product-bottom-wrapper {
    margin-top: 20px;
}

.product-price {
    font-size: 1rem;
    color: black;
}

.product-info {
    height: 100%;
    padding: 0 0 0 20px;
    width: 200px;
}

.product-img{
    height: 130px;
    width: 130px;
    object-fit: cover;
}

.product-bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-opticon {
    margin-left: 10px;
    height: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .product-card {
        flex-direction: column;
        margin-right: 25px;
        height: 380px;
        width: 200px;
        padding-top: 20px;
    }

    .product-info {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {

}