
.limited-orange {
    border: 1px solid rgba(255, 148, 70, 0.50);
    background: rgba(255, 147, 69, 0.80);
    box-shadow: 5px 5px 20px 0px rgba(255, 210, 178, 0.50);
}

.available-green {
    border: 1px solid rgba(0, 202, 20, 0.50);
    background: rgba(0, 167, 17, 0.50);
    box-shadow: 5px 5px 20px 0px rgba(196, 255, 202, 0.50);
}

.badge-wishlist {
    border: 1px solid rgba(255, 121, 121, 0.50);
    background: #FF7979;
    box-shadow: 2px 2px 10px 0px rgba(255, 144, 144, 0.20);
}

.badge-cart {
    border: 1px solid rgba(0, 152, 237, 0.50);
    background: rgba(0, 133, 255, 0.70);
    box-shadow: 2px 2px 10px 0px rgba(99, 199, 255, 0.20);    
}